<!-- ########## START: LEFT PANEL ########## -->

      <ul class="br-sideleft-menu">
       <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-home tx-20"></i> <span class="menu-item-label">Tableau de bord</span>'), dashboard_path, class: "br-menu-link active" %>
        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-building tx-20"></i> <span class="menu-item-label">Structures</span>'), structures_path, class: "br-menu-link" %>
        </li><!-- br-menu-item -->

        
        <% if is_structure_admin?() && structure_is?(current_structure.id, "Clinique") %>

          <li class="br-menu-item">
            <a href="#" class="br-menu-link with-sub">
              <i class="fa fa-calendar tx-20"></i>
              <span class="menu-item-label">Agenda</span>
            </a><!-- br-menu-link -->
            <ul class="br-menu-sub">
              
            
              <li class="sub-item">
                  <%= link_to  "Mes rendez-vous", appointments_path, class: "sub-link" %>
              </li>
              <li class="sub-item">
                  <%= link_to  "Mon programme", plannings_path, class: "sub-link" %>
              </li>

            </ul>
          </li>
        <% end %>

        <% if is_structure_admin?() && structure_is?(current_structure.id, "Laboratoire") %>
          <li class="br-menu-item">
            <a href="#" class="br-menu-link with-sub">
              <i class="fa fa-stethoscope tx-20"></i>
              <span class="menu-item-label">Analyses</span>
            </a><!-- br-menu-link -->
            <ul class="br-menu-sub">
              
            
              <li class="sub-item">
                  <%= link_to  "Liste des analyses", analyses_path, class: "sub-link" %>
                  <%= link_to  "Demandes d'analyse", analysis_requests_path, class: "sub-link" %>

              </li>
<!--
              <li class="sub-item">
                  <%= link_to  "Demandes d'analyses", analyses_path, class: "sub-link" %>
              </li>
-->             

            </ul>
          </li>
        <% end %>
        
        <% if is_structure_admin?() && structure_is?(current_structure.id, "Pharmacie") %>
          <li class="br-menu-item">
            <a href="#" class="br-menu-link with-sub">
              <i class="fa fa-medkit tx-20"></i>
              <span class="menu-item-label">Médicaments</span>
            </a><!-- br-menu-link -->
            <ul class="br-menu-sub">
              
            
              <li class="sub-item">
                  <%= link_to  "Liste des médicaments", medicaments_path, class: "sub-link" %>
              </li>
              

            </ul>
          </li>

          <li class="br-menu-item">
            <a href="#" class="br-menu-link with-sub">
              <i class="fa fa-shopping-cart tx-20"></i>
              <span class="menu-item-label">Mes commandes</span>
            </a><!-- br-menu-link -->
            <ul class="br-menu-sub">
              
            
              <li class="sub-item">
                  <%= link_to  "Médicaments", medicament_orders_path, class: "sub-link" %>
              </li>
              

            </ul>
          </li>


        <% end %>
        
        <% if is_structure_admin? && structure_is?(current_structure.id, "Clinique") %>

          <li class="br-menu-item">
                <a href="#" class="br-menu-link with-sub">
                  <i class="fa fa-stethoscope tx-20"></i>
                  <span class="menu-item-label">Consultations</span>
                </a><!-- br-menu-link -->
                <ul class="br-menu-sub">
                  
                
                  <li class="sub-item">
                      <%= link_to  "Consultations en ligne", advices_path, class: "sub-link" %>
                  </li>
                  

                </ul>
            </li>


            <li class="br-menu-item">
              <a href="#" class="br-menu-link with-sub">
                <i class="fa fa-user-md tx-20"></i>
                <span class="menu-item-label">Médecins</span>
              </a><!-- br-menu-link -->
              <ul class="br-menu-sub">
                
              
                <li class="sub-item">
                    <%= link_to  "Liste des médecins", doctors_path, class: "sub-link" %>
                </li>
                

              </ul>
            </li>
        <% end %>

        <% if is_from_kosante?(current_user) %>
          <li class="br-menu-item">
                <a href="#" class="br-menu-link with-sub">
                  <i class="fa fa-stethoscope tx-20"></i>
                  <span class="menu-item-label">Consultations</span>
                </a><!-- br-menu-link -->
                <ul class="br-menu-sub">
                  
                
                  <li class="sub-item">
                      <%= link_to  "Consultations en ligne", advices_path, class: "sub-link" %>
                  </li>
                  

                </ul>
            </li>


        <% end %>
        
        <% if is_structure_admin?  %>

 <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-cog tx-20"></i>
            <span class="menu-item-label">Paramètres</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            
          
            <li class="sub-item">
                <%= link_to  "Horaires d'ouverture", schedule_items_path, class: "sub-link" %>
            </li>



            

          </ul>
        </li>

<% end %>
       
      </ul><!-- br-sideleft-menu -->

      
       
        
      </div><!-- info-list -->

    <!-- ########## END: LEFT PANEL ########## -->