<section class="container">
    <h2  class="text-center"><u>N</u>os partenaires</h2>
    <div class="row carousel-description-clients carousel-description-style ">
        <div class="col-lg-12">
            <section class="customer-logos slider">
                <div class="slide">
                    <%= image_tag "partners/LOGO-ORANGE.png" %>
                </div>
                <div class="slide">
                   <%= image_tag "partners/LOGO-OPM.png" %>
                </div>
                <div class="slide">
                   <%= image_tag "partners/LOGO-MALI.png" %>
                </div>
                <div class="slide">
                    <%= image_tag "partners/Logo-FMPOS.png" %>               
                </div>
                <div class="slide">
                    <%= image_tag "partners/LOGO-CNOM.png" %> 
                </div>
               
            </section>
        </div>
        <div class="col-md-12 text-center">
            <%= link_to "Dévenir partenaire", become_partner_form_path, class: "btn btn-danger" %>
        </div>
        
        
        </div>
    </div>
</section>